.u-fontSize10 {
  font-size: 30px;
}
.u-fontSize20 {
  font-size: 30px;
}
.u-fontSize30 {
  font-size: 30px;
}
.u-fontSize40 {
  font-size: 40px;
}
.u-fontSize50 {
  font-size: 50px;
}
.u-fontSize60 {
  font-size: 60px;
}
.u-fontSize70 {
  font-size: 70px;
}
.u-fontSize80 {
  font-size: 80px;
}
.u-fontSize90 {
  font-size: 90px;
}
.u-fontSize100 {
  font-size: 100px;
}